body{
    background-color: aqua;
    color: darkmagenta;
}
.heading{
    width: 100%;
    font-size: 35px;
}
.random{
    color:rgb(154, 61, 3);
    font-size:25px;
}
hr{
    border-color:black;
}
#camera{
    border:2px dotted rgb(153, 23, 23);
    width:350px;
    height:300px;
}
#result_object_name,#result_object_accuracy{
    color:darkorchid;
}